@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.body {
    font-family: 'Roboto Slab', serif;
    justify-content: center;
    align-content: center;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 1em;
    border: 0.1em solid;
    border-radius: 0.5em;
    border-color: chartreuse;
}

.top-container {
    display: flex;
    height: 60%;
    flex-direction: row;
    align-items: center;
    margin: 0.5em;
    padding: 0.2em;
}

.bottom-container {
    display: flex;
    height: 40%;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    margin: 0.5em;
    padding: 0.2em;
}

.dx-container, .sx-container {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ctr-container {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
}

.pl-points, .btn-container, .pc-points {
    display: flex;
    width: 33%;
    align-items: center;
    justify-content: center;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(3, 0.1fr);
    gap: 0.1em;
}

.btn-grid button {
    width: 3em;
    height: 3em;
    margin: 1em;
    border-style: none;
    border-radius: 50%;
    padding: 6%;
    cursor: pointer;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.rock {
    background-image: url("../images/rock.png");
}

.scissors {
    background-image: url("../images/scissors.png");
}

.paper {
    background-image: url("../images/paper.png");
}

.pc-point-circle-grid, .pl-point-circle-grid {
    display: grid;
    grid-template-columns: repeat(3, 0.1fr);
    gap: 0.05em;
}

.pc-point-circle-grid .circle, .pl-point-circle-grid .circle {
    width: 2.5em;
    height: 2.5em;
    border-style: dotted double;
    border-radius: 50%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5em;
    cursor: pointer;
}

.choice-square{
    width: 6em;
    height: 6em;
    margin: 1em;
    padding: 0.5em;
    border: 0.1em solid;
    border-radius: 0.5em;
    border-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
}
